<form method="post" action="/form/submit">
  <div>
    <label>Student WSU Access ID</label>
    <input name="accessID" id="access" value="Ex: ab1234" />
  </div>
  <div>
    <label>Student Course ID</label>
    <input name="courseID" id="course" value="Ex: ELI5050" />
  </div>
  <div>
    <label>Reason for Visit</label>
    <div>
      <label>Cassette/DVD/CD Usage/Copying</label>
      <input type="checkbox" name="dvd" id="dvd" value="dvd" />
    </div>
    <div>
      <label>CAN8</label>
      <input type="checkbox" name="can8" id="can8" value="can8" />
    </div>
    <div>
      <label>Listen to Audio For Course</label>
      <input type="checkbox" name="audio" id="audio" value="audio" />
    </div>
    <div>
      <label>Watch a Video For Course</label>
      <input type="checkbox" name="video" id="video" value="video" />
    </div>
    <div>
      <label>Use the Scanner</label>
      <input type="checkbox" name="scan" id="scan" value="scan" />
    </div>
    <div>
      <label>Watch International TV</label>
      <input type="checkbox" name="tv" id="tv" value="tv" />
    </div>
    <div>
      <label>Use Office Suite (Word, Excel, etc.)</label>
      <input type="checkbox" name="word" id="word" value="word" />
    </div>
    <div>
      <label>Use the Internet</label>
      <input type="checkbox" name="net" id="net" value="net" />
    </div>
    <div>
      <label>Use the Printer</label>
      <input type="checkbox" name="print" id="print" value="print" />
    </div>
  </div>
  <div><button>Login</button></div>
</form>
